/* Import font từ Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  /* Áp dụng box-sizing cho toàn bộ phần tử */
  box-sizing: border-box;
}

body {
  /* Thiết lập font chữ cho toàn bộ trang */
  font-family: 'Muli', sans-serif;
  /* Sử dụng flexbox để căn giữa nội dung */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Chiều cao của trang là 100% chiều cao của cửa sổ trình duyệt */
  height: 100vh;
  /* Ẩn phần nội dung vượt quá giới hạn */
  overflow: hidden;
  /* Loại bỏ khoảng cách mặc định của body */
  margin: 0;
}

.container {
  /* Sử dụng flexbox để sắp xếp các phần tử con */
  display: flex;
  /* Chiều rộng của container là 90% chiều rộng của viewport */
  width: 90vw;
  /* Bo tròn góc của container */
  border-radius: 50px;
  /* Đặt màu nền cho container */
  background: rgba(255, 255, 255, 0.1);
  /* Đổ bóng cho container */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.panel {
  /* Thiết lập kích thước và vị trí cho ảnh nền */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Chiều cao của mỗi panel */
  height: 80vh;
  /* Bo tròn góc của panel */
  border-radius: 50px;
  /* Màu chữ trắng */
  color: #fff;
  /* Con trỏ chuột dạng pointer khi di chuột qua */
  cursor: pointer;
  /* Panel chiếm một nửa không gian có sẵn */
  flex: 0.5;
  /* Khoảng cách giữa các panel */
  margin: 10px;
  /* Thiết lập vị trí tương đối để các phần tử con có thể sử dụng position absolute */
  position: relative;
  /* Hiệu ứng chuyển đổi khi thay đổi flex */
  transition: flex 0.5s ease-in;
}

.panel:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng khi di chuột qua */
}

.panel h3 {
  /* Kích thước font chữ */
  font-size: 24px;
  /* Định vị tiêu đề trong panel */
  position: absolute;
  bottom: 20px;
  left: 20px;
  /* Loại bỏ khoảng cách mặc định */
  margin: 0;
  /* Ẩn tiêu đề ban đầu */
  opacity: 0;
  /* Hiệu ứng chuyển đổi opacity */
  transition: opacity 0.5s ease-in;
}

.panel.active {
  /* Panel này sẽ chiếm nhiều không gian hơn khi được kích hoạt */
  flex: 5;
  /* Đổ bóng cho panel */
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}

.panel.active h3 {
  /* Hiển thị tiêu đề khi panel được kích hoạt */
  opacity: 1;
  /* Hiệu ứng chuyển đổi opacity */
  transition: opacity 0.3s ease-in 0.4s;
}

footer{
  /* Đặt phần tử ở vị trí tuyệt đối */
  position: absolute;
  /* Đặt phần tử ở phía dưới cùng của body */
  bottom: 0;
  /* Đặt chiều rộng của phần tử bằng 100% */
  width: 100%;
  /* Căn chỉnh nội dung của phần tử vào giữa theo chiều ngang */
  text-align: center;
  /* Đặt padding 10px ở phía trên và dưới của phần tử */
  padding: 10px 0;
  /* Đặt màu chữ cho phần tử là trắng */
  color: #888;

}

@media (max-width: 480px) {
  .container {
    /* Đặt chiều rộng của container là 100% khi trên thiết bị nhỏ */
    width: 100vw;
  }

  /* Ẩn các panel thứ 4 và thứ 5 trên thiết bị nhỏ */
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
